[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql-dev.bdevops.online"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target

# color codes
# Red(31), Green(32), Yellow(33), Blue(34), Magneta(45), Cyca(46)
# Syntax for color code -> echo -e "\e[COLCODEmMessage\e[0m"